In [3]:
from unittest.mock import inplace

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('factory_worker_data.csv')
data

,WorkerID,Age,Experience,Department,Sensor_1,Sensor_2,Sensor_3,Sensor_4,Sensor_5,Sensor_6,Sensor_7,Sensor_8
0,W1000,41,4,QC,7.237457,-5.345062,NaN,6.385978,-3.187778,1.808027,-0.814783,1.703951
1,W1001,27,4,QC,-6.099276,4.944228,5.751492,10.058490,-2.290655,-4.390271,-2.941448,-1.209291
2,W1002,40,11,QC,14.163983,7.419787,13.026986,14.914357,9.171912,4.244171,8.623844,17.667626
3,W1003,25,2,Assembly,-8.144112,6.022785,1.759761,6.124397,-7.962622,0.358290,3.785899,7.801595
4,W1004,34,7,Assembly,9.499723,8.917607,12.294359,8.376217,7.684377,NaN,8.400410,6.543665
...,...,...,...,...,...,...,...,...,...,...,...,...
995,W1995,24,4,Assembly,9.587238,1.885114,4.269326,6.033614,5.863820,9.540423,2.733291,5.067890
996,W1996,43,21,QC,29.973041,20.812611,25.566959,23.453233,26.480754,11.741634,13.371076,15.017197
997,W1997,59,37,QC,44.074508,40.501634,46.594357,44.397847,56.208826,34.056741,40.547397,53.592097
998,W1998,33,7,Assembly,10.258249,13.489234,11.741711,9.666289,5.280387,10.796173,3.011345,3.485525
999,W1999,31,4,Assembly,0.873051,1.330631,-1.988315,-0.353334,5.622802,4.769798,1.153185,6.442104

In [4]:
data.isnull().sum()

WorkerID       0
Age            0
Experience     0
Department     0
Sensor_1      48
Sensor_2      55
Sensor_3      52
Sensor_4      47
Sensor_5      56
Sensor_6      50
Sensor_7      35
Sensor_8      53
dtype: int64

In [5]:
data.isnull().sum().sum()

np.int64(396)

If just want to fill with random VALUE

In [17]:
data.fillna(299,inplace=True)

In [18]:
data.isnull().sum()

WorkerID      0
Age           0
Experience    0
Department    0
Sensor_1      0
Sensor_2      0
Sensor_3      0
Sensor_4      0
Sensor_5      0
Sensor_6      0
Sensor_7      0
Sensor_8      0
dtype: int64

BUT SHOULD try some other ways to do it

In [24]:
# Have to check the datatypes of the Columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WorkerID    1000 non-null   object
 1   Age         1000 non-null   int64
 2   Experience  1000 non-null   int64
 3   Department  1000 non-null   object
 4   Sensor_1    952 non-null    float64
 5   Sensor_2    945 non-null    float64
 6   Sensor_3    948 non-null    float64
 7   Sensor_4    953 non-null    float64
 8   Sensor_5    944 non-null    float64
 9   Sensor_6    950 non-null    float64
 10  Sensor_7    965 non-null    float64
 11  Sensor_8    947 non-null    float64
dtypes: float64(8), int64(2), object(2)
memory usage: 93.9+ KB

In [30]:
# Backward fill technique: The backward value got fill in NULL value
# It will fill with upcoming COLUMN value
data.fillna(method='bfill')

/tmp/ipykernel_219543/2406333942.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method='bfill')

,WorkerID,Age,Experience,Department,Sensor_1,Sensor_2,Sensor_3,Sensor_4,Sensor_5,Sensor_6,Sensor_7,Sensor_8
0,W1000,41,4,QC,7.237457,-5.345062,5.751492,6.385978,-3.187778,1.808027,-0.814783,1.703951
1,W1001,27,4,QC,-6.099276,4.944228,5.751492,10.058490,-2.290655,-4.390271,-2.941448,-1.209291
2,W1002,40,11,QC,14.163983,7.419787,13.026986,14.914357,9.171912,4.244171,8.623844,17.667626
3,W1003,25,2,Assembly,-8.144112,6.022785,1.759761,6.124397,-7.962622,0.358290,3.785899,7.801595
4,W1004,34,7,Assembly,9.499723,8.917607,12.294359,8.376217,7.684377,15.066324,8.400410,6.543665
...,...,...,...,...,...,...,...,...,...,...,...,...
995,W1995,24,4,Assembly,9.587238,1.885114,4.269326,6.033614,5.863820,9.540423,2.733291,5.067890
996,W1996,43,21,QC,29.973041,20.812611,25.566959,23.453233,26.480754,11.741634,13.371076,15.017197
997,W1997,59,37,QC,44.074508,40.501634,46.594357,44.397847,56.208826,34.056741,40.547397,53.592097
998,W1998,33,7,Assembly,10.258249,13.489234,11.741711,9.666289,5.280387,10.796173,3.011345,3.485525
999,W1999,31,4,Assembly,0.873051,1.330631,-1.988315,-0.353334,5.622802,4.769798,1.153185,6.442104

In [33]:
data.fillna(method='bfill',axis=1)
#This will fill value with Upcoming ROW value

/tmp/ipykernel_219543/2641135411.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method='bfill',axis=1)

,WorkerID,Age,Experience,Department,Sensor_1,Sensor_2,Sensor_3,Sensor_4,Sensor_5,Sensor_6,Sensor_7,Sensor_8
0,W1000,41,4,QC,7.237457,-5.345062,6.385978,6.385978,-3.187778,1.808027,-0.814783,1.703951
1,W1001,27,4,QC,-6.099276,4.944228,5.751492,10.05849,-2.290655,-4.390271,-2.941448,-1.209291
2,W1002,40,11,QC,14.163983,7.419787,13.026986,14.914357,9.171912,4.244171,8.623844,17.667626
3,W1003,25,2,Assembly,-8.144112,6.022785,1.759761,6.124397,-7.962622,0.35829,3.785899,7.801595
4,W1004,34,7,Assembly,9.499723,8.917607,12.294359,8.376217,7.684377,8.40041,8.40041,6.543665
...,...,...,...,...,...,...,...,...,...,...,...,...
995,W1995,24,4,Assembly,9.587238,1.885114,4.269326,6.033614,5.86382,9.540423,2.733291,5.06789
996,W1996,43,21,QC,29.973041,20.812611,25.566959,23.453233,26.480754,11.741634,13.371076,15.017197
997,W1997,59,37,QC,44.074508,40.501634,46.594357,44.397847,56.208826,34.056741,40.547397,53.592097
998,W1998,33,7,Assembly,10.258249,13.489234,11.741711,9.666289,5.280387,10.796173,3.011345,3.485525
999,W1999,31,4,Assembly,0.873051,1.330631,-1.988315,-0.353334,5.622802,4.769798,1.153185,6.442104

FORWARD FILLING

In [36]:
# It will fill with last COLUMN value
data.fillna(method='ffill')

/tmp/ipykernel_219543/1435919710.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method='ffill')

,WorkerID,Age,Experience,Department,Sensor_1,Sensor_2,Sensor_3,Sensor_4,Sensor_5,Sensor_6,Sensor_7,Sensor_8
0,W1000,41,4,QC,7.237457,-5.345062,NaN,6.385978,-3.187778,1.808027,-0.814783,1.703951
1,W1001,27,4,QC,-6.099276,4.944228,5.751492,10.058490,-2.290655,-4.390271,-2.941448,-1.209291
2,W1002,40,11,QC,14.163983,7.419787,13.026986,14.914357,9.171912,4.244171,8.623844,17.667626
3,W1003,25,2,Assembly,-8.144112,6.022785,1.759761,6.124397,-7.962622,0.358290,3.785899,7.801595
4,W1004,34,7,Assembly,9.499723,8.917607,12.294359,8.376217,7.684377,0.358290,8.400410,6.543665
...,...,...,...,...,...,...,...,...,...,...,...,...
995,W1995,24,4,Assembly,9.587238,1.885114,4.269326,6.033614,5.863820,9.540423,2.733291,5.067890
996,W1996,43,21,QC,29.973041,20.812611,25.566959,23.453233,26.480754,11.741634,13.371076,15.017197
997,W1997,59,37,QC,44.074508,40.501634,46.594357,44.397847,56.208826,34.056741,40.547397,53.592097
998,W1998,33,7,Assembly,10.258249,13.489234,11.741711,9.666289,5.280387,10.796173,3.011345,3.485525
999,W1999,31,4,Assembly,0.873051,1.330631,-1.988315,-0.353334,5.622802,4.769798,1.153185,6.442104

In [37]:
# It will fill with last ROW value
data.fillna(method='ffill',axis=1)

/tmp/ipykernel_219543/4082587105.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method='ffill',axis=1)

,WorkerID,Age,Experience,Department,Sensor_1,Sensor_2,Sensor_3,Sensor_4,Sensor_5,Sensor_6,Sensor_7,Sensor_8
0,W1000,41,4,QC,7.237457,-5.345062,-5.345062,6.385978,-3.187778,1.808027,-0.814783,1.703951
1,W1001,27,4,QC,-6.099276,4.944228,5.751492,10.05849,-2.290655,-4.390271,-2.941448,-1.209291
2,W1002,40,11,QC,14.163983,7.419787,13.026986,14.914357,9.171912,4.244171,8.623844,17.667626
3,W1003,25,2,Assembly,-8.144112,6.022785,1.759761,6.124397,-7.962622,0.35829,3.785899,7.801595
4,W1004,34,7,Assembly,9.499723,8.917607,12.294359,8.376217,7.684377,7.684377,8.40041,6.543665
...,...,...,...,...,...,...,...,...,...,...,...,...
995,W1995,24,4,Assembly,9.587238,1.885114,4.269326,6.033614,5.86382,9.540423,2.733291,5.06789
996,W1996,43,21,QC,29.973041,20.812611,25.566959,23.453233,26.480754,11.741634,13.371076,15.017197
997,W1997,59,37,QC,44.074508,40.501634,46.594357,44.397847,56.208826,34.056741,40.547397,53.592097
998,W1998,33,7,Assembly,10.258249,13.489234,11.741711,9.666289,5.280387,10.796173,3.011345,3.485525
999,W1999,31,4,Assembly,0.873051,1.330631,-1.988315,-0.353334,5.622802,4.769798,1.153185,6.442104

# Mode Filling

In [69]:
data["Sensor_3"].mode()[0]

np.float64(-12.27106601629137)

In [70]:
data.fillna({"Sensor_3":-12.27106601629137},inplace=True)

In [71]:
data.isnull().sum()

WorkerID       0
Age            0
Experience     0
Department     0
Sensor_1      48
Sensor_2      55
Sensor_3       0
Sensor_4      47
Sensor_5      56
Sensor_6      50
Sensor_7      35
Sensor_8      53
dtype: int64

In [89]:
for i in data.select_dtypes(include=[np.number]).columns:
    data[i]=data[i].fillna(data[i].mean())

In [91]:
data.isnull().sum()

WorkerID      0
Age           0
Experience    0
Department    0
Sensor_1      0
Sensor_2      0
Sensor_3      0
Sensor_4      0
Sensor_5      0
Sensor_6      0
Sensor_7      0
Sensor_8      0
dtype: int64