In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer

In [21]:
Data=pd.read_csv("../CSV Files/factory_worker_data.csv")
Data.head(3)

,WorkerID,Age,Experience,Department,Sensor_1,Sensor_2,Sensor_3,Sensor_4,Sensor_5,Sensor_6,Sensor_7,Sensor_8
0,W1000,41,4,QC,7.237457,-5.345062,NaN,6.385978,-3.187778,1.808027,-0.814783,1.703951
1,W1001,27,4,QC,-6.099276,4.944228,5.751492,10.058490,-2.290655,-4.390271,-2.941448,-1.209291
2,W1002,40,11,QC,14.163983,7.419787,13.026986,14.914357,9.171912,4.244171,8.623844,17.667626

In [28]:
Data.isnull().sum()

WorkerID       0
Age            0
Experience     0
Department     0
Sensor_1      48
Sensor_2      55
Sensor_3      52
Sensor_4      47
Sensor_5      56
Sensor_6      50
Sensor_7      35
Sensor_8      53
dtype: int64

# Filling with MEAN

In [22]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WorkerID    1000 non-null   object
 1   Age         1000 non-null   int64
 2   Experience  1000 non-null   int64
 3   Department  1000 non-null   object
 4   Sensor_1    952 non-null    float64
 5   Sensor_2    945 non-null    float64
 6   Sensor_3    948 non-null    float64
 7   Sensor_4    953 non-null    float64
 8   Sensor_5    944 non-null    float64
 9   Sensor_6    950 non-null    float64
 10  Sensor_7    965 non-null    float64
 11  Sensor_8    947 non-null    float64
dtypes: float64(8), int64(2), object(2)
memory usage: 93.9+ KB

In [23]:
Data.select_dtypes(include=[float]).columns

Index(['Sensor_1', 'Sensor_2', 'Sensor_3', 'Sensor_4', 'Sensor_5', 'Sensor_6',
       'Sensor_7', 'Sensor_8'],
      dtype='object')

In [24]:
si= SimpleImputer(strategy='mean')

In [25]:
array=si.fit_transform(Data[['Sensor_1', 'Sensor_2', 'Sensor_3', 'Sensor_4', 'Sensor_5', 'Sensor_6',
       'Sensor_7', 'Sensor_8']])

In [29]:
df=pd.DataFrame(array,columns=['Sensor_1', 'Sensor_2', 'Sensor_3', 'Sensor_4', 'Sensor_5', 'Sensor_6',
       'Sensor_7', 'Sensor_8'])
df

,Sensor_1,Sensor_2,Sensor_3,Sensor_4,Sensor_5,Sensor_6,Sensor_7,Sensor_8
0,7.237457,-5.345062,11.273328,6.385978,-3.187778,1.808027,-0.814783,1.703951
1,-6.099276,4.944228,5.751492,10.058490,-2.290655,-4.390271,-2.941448,-1.209291
2,14.163983,7.419787,13.026986,14.914357,9.171912,4.244171,8.623844,17.667626
3,-8.144112,6.022785,1.759761,6.124397,-7.962622,0.358290,3.785899,7.801595
4,9.499723,8.917607,12.294359,8.376217,7.684377,6.932269,8.400410,6.543665
...,...,...,...,...,...,...,...,...
995,9.587238,1.885114,4.269326,6.033614,5.863820,9.540423,2.733291,5.067890
996,29.973041,20.812611,25.566959,23.453233,26.480754,11.741634,13.371076,15.017197
997,44.074508,40.501634,46.594357,44.397847,56.208826,34.056741,40.547397,53.592097
998,10.258249,13.489234,11.741711,9.666289,5.280387,10.796173,3.011345,3.485525
999,0.873051,1.330631,-1.988315,-0.353334,5.622802,4.769798,1.153185,6.442104

In [27]:
df.isnull().sum()

Sensor_1    0
Sensor_2    0
Sensor_3    0
Sensor_4    0
Sensor_5    0
Sensor_6    0
Sensor_7    0
Sensor_8    0
dtype: int64

# Filling with MEDIAN

In [30]:
si= SimpleImputer(strategy='median')

In [32]:
array1=si.fit_transform(Data[['Sensor_1', 'Sensor_2', 'Sensor_3', 'Sensor_4', 'Sensor_5', 'Sensor_6',
       'Sensor_7', 'Sensor_8']])

In [34]:
df1=pd.DataFrame(array,columns=['Sensor_1', 'Sensor_2', 'Sensor_3', 'Sensor_4', 'Sensor_5', 'Sensor_6',
       'Sensor_7', 'Sensor_8'])
df1

,Sensor_1,Sensor_2,Sensor_3,Sensor_4,Sensor_5,Sensor_6,Sensor_7,Sensor_8
0,7.237457,-5.345062,9.189942,6.385978,-3.187778,1.808027,-0.814783,1.703951
1,-6.099276,4.944228,5.751492,10.058490,-2.290655,-4.390271,-2.941448,-1.209291
2,14.163983,7.419787,13.026986,14.914357,9.171912,4.244171,8.623844,17.667626
3,-8.144112,6.022785,1.759761,6.124397,-7.962622,0.358290,3.785899,7.801595
4,9.499723,8.917607,12.294359,8.376217,7.684377,5.906855,8.400410,6.543665
...,...,...,...,...,...,...,...,...
995,9.587238,1.885114,4.269326,6.033614,5.863820,9.540423,2.733291,5.067890
996,29.973041,20.812611,25.566959,23.453233,26.480754,11.741634,13.371076,15.017197
997,44.074508,40.501634,46.594357,44.397847,56.208826,34.056741,40.547397,53.592097
998,10.258249,13.489234,11.741711,9.666289,5.280387,10.796173,3.011345,3.485525
999,0.873051,1.330631,-1.988315,-0.353334,5.622802,4.769798,1.153185,6.442104